.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 220px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-icon {
    margin-right: 5px;
  }

  .mat-toolbar {
    z-index: 3 !important;
  }
  