<mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="false">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Electry | Central electrica Arroyohondo</span>
  <span class="spacer"></span>
  <button mat-button><mat-icon>exit_to_app</mat-icon>Salir</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/historical-data"><mat-icon>library_books</mat-icon>Datos Históricos</a>
      <a mat-list-item href="/predicted-data"><mat-icon>timeline</mat-icon>Predicción de Demanda</a>
      <a mat-list-item href="/time-data"><mat-icon>access_time</mat-icon>Reporte de tiempos</a>
      <a mat-list-item href="/reports"><mat-icon>folder_open</mat-icon>Construir Reportes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
